pre {
  padding: 10px 16px 12px;
  background-color: #444444;
  border-radius: 8px;
  color: #efefef;
}
.purple {
  color: plum;
}
.grey {
  color: grey;
}
/* h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
} */
#title {
  color:dodgerblue;
}
a:visited {
  color: dodgerblue;
}
a:hover {
  color: salmon;
}
body {
  font-family: 'Open Sans', sans-serif;
}

/* Стили для табличек */
table {
  width: 400px;
  border-collapse: collapse;
  margin-bottom: 12px;
}

thead {
  font-weight: bold;
}
td, th {
  border: 1px solid plum;
}

/* Формы */
form {
  border: 2px solid #eee;
  border-radius: 10px;
  padding: 0 0 0 12px;
}
input {
  margin-bottom: 8px;
}

div.isBlock {
  background-color: plum;
}
span.isInline {
  background-color: turquoise;
}

/* Учим стили */
.background-plum {
  background-color: plum;
}
.background-turquoise {
  background-color: turquoise;
}

.test-div-1 {
  width: 50%;
  height: 113px;
  padding: 16px;
  margin: 16px;
  border: 5px solid rgb(122, 10, 90); 
  overflow: auto;
}
