pre {
  padding: 10px 16px 12px;
  background-color: #444444;
  border-radius: 8px;
  color: #efefef;
}
.purple {
  color: plum;
}
.grey {
  color: grey;
}
h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
}
#title {
  color:dodgerblue;
}
a:visited {
  color: dodgerblue;
}
a:hover {
  color: salmon;
}